<h1>Sign up!</h1>

<form action="<%= users_url %>" method="POST" class="ui form">
  <label>Username:
    <input type="text" name="user[username]">
  </label>
  <br><br> 
  <label>Password:
    <input type="password" name="user[password]">
  </label>
  <input type="submit" value="Sign Up" class="ui button">
</form>

